@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Serif+Pro:400,600,700&display=swap&subset=latin-ext');
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  body {
  	font-family: 'Source Serif Pro', serif;
    font-size:3vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  body {
    font-size:2vw;
    font-family: 'Source Serif Pro', serif;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size:1.5vw;
    font-family: 'Source Serif Pro', serif;
  	}
  	h1 {
	  display: block;
	  font-size: 3rem;
	  margin-top: 0.67rem;
	  margin-bottom: 0.67rem;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
	}
	h2 {
	  display: block;
	  font-size: 2.4rem;
	  margin-top: 0.83rem;
	  margin-bottom: 0.83rem;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
	}
	h3 {
	  display: block;
	  font-size: 2rem;
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
	  text-transform:uppercase;
	}
	h4 {
	  display: block;
	  font-size: 1.6rem;
	  margin-top: 1.33rem;
	  margin-bottom: 1.33rem;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
	}
	h5 {
	  display: block;
	  font-size: 1.4rem;
	  margin-top: 1.67rem;
	  margin-bottom: 1.67rem;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
	}
	h6 {
	  display: block;
	  font-size: 1.2rem;
	  margin-top: 2.33rem;
	  margin-bottom: 2.33rem;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	  font-family: 'Open Sans', sans-serif;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    /*font-size:1vw;*/
    font-size:12.5px;
    font-family: 'Source Serif Pro', serif;
  }
}
h3 {
  text-transform:uppercase;
}
.styleguide-container {
	max-width:1140px;
	margin-left:auto;
	margin-right:auto;
}

li a {
	font-size:1rem;
}
.text-white {
	color:white;
}

.wrapper {
	padding:20px;
	border:1px solid lightgrey;
}
.disc {
	list-style-type: disc;
}
.circle {
		list-style-type: circle;
}
.square {
		list-style-type: square;
}
.image {
  	line-height: 1.5em;
  	list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}
.letter-spacing-1 {
	letter-spacing: 0.025em;
}
.letter-spacing-2 {
	letter-spacing: 0.25em;
}
.letter-spacing-3 {
	letter-spacing: 0.5em;
}
.color-pallette {
	width:150px;
	height:50px;
	background:red;
	padding:10px;
	margin-bottom:5px;
}
.block-text li {
	font-size:12px;
  	font-family: monospace;
  	margin-bottom:0px;
}
.heading-text .wrapper p:last-child {
	margin-bottom:20px;
}
.pallette li{
	display: inline-block;
}

/*Primary Pallette*/

.brand-dark {
	background:#25282A;
}
.brand-white {
	background:#FFFFFF;
}
.brand-grey {
	background:#F3F3F3;
}

/*Secondary Pallette */
.brand-skyblue {
	background:#D0DEEA;
}
.brand-orange {
	background:#F8D87A;
}
.brand-lightgreen {
	background:#E1EBCF;
}
.brand-darkgreen {
	background:#828C6C;
}
.brand-darkpink {
	background:#E7D0D0;
}
.brand-lightpink {
	background:#E8DDD1;
}
/* --- */
.brand-success-red {
	background:#AF102B;
}
.brand-success-green {
	background:#48B280;
}
/* --- */
.brand-btn-success-red {
	background:#AF102B;
}
.brand-btn-success-green {
	background:#48B280;
}
.brand-btn-dark {
	background:#25282A;
}
.brand-btn-light {
	background:#F3F3F3;
}
/* --- */
.brand-btn-success-red:hover {
	background:#930323;
}
.brand-btn-success-green:hover {
	background:#288C59;
}
.brand-btn-dark:hover {
	background:#4D4E4F;
}
.brand-btn-light:hover {
	background:#E2E2E2;
}
.text-dark {
	color:#25282A!important;
}
.brand-btn {
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'Open Sans', sans-serif;

}



.font-georgia {
  font-family: 'Source Serif Pro', serif;

}
.font-twcen {
  font-family: 'Open Sans', sans-serif;

}
.font-vectra {
	
}




/* --- */

.mb-10 {
	margin-bottom:10px;
}
.mb-0 {
	margin-bottom:0px;
}
.mt-10 {
	margin-top:10px;
}
.mt-0 {
	margin-top:0px;
}
.m-0 {
	margin:0px;
}
/* unvisited link */

a:link, .link {
  text-decoration: none;
  color: #25282A!important;
}

/* visited link */
a:visited, .visited {
  text-decoration: none;
  color: #25282A!important;
}

/* mouse over link */
a:hover, .hover {
  text-decoration: underline;
  color: #4D4E4F!important;
}

/* selected link */
a:active, .active {
  text-decoration: underline;
  color: red!important;
}

.form-control {
	width:96%!important;
}
.valid.form-control{
    color: #495057;
    background-color: #fff;
    border-color: green;
    border-left:5px solid green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}
.invalid.form-control{
    color: #495057;
    background-color: #fff;
    border-color: red;
    border-left:5px solid red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.valid.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}
.invalid.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}
.icon {
	font-size:60px;
	margin: 0 20px 20px 0;
}
.icon:hover {
	color:gray;
}
footer {

	height:200px;
}